<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/article">Angular Assingments</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a class="nav-link active"  routerLink="/article">-Article</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/property-binding">-Proerty binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/ngfor">-NgFor</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="/ngif">ngif and ngif</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/ngswitch">NgSwitch</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/react-val">Reactive Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/pipes">Pipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink="home">Home</a>
          </li>
         
         
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/crud">Crud App</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/products">Crud App with json server</a>
          </li>
          
          
        </ul>
       
      </div>
    </div>
  </nav>