<div class="container mt-5">
  <h1 class="text-center">Article Assignment</h1>
  <div class="card p-2">
    <h5 class="card-header">{{ cricketer }}</h5>

    <div class="row">
      <div class="col-lg-6">
      
        <img
          class="img-fluid"
          src="https://thebridge.in/h-upload/2021/07/20/11005-sachin-tendulkar.webp"
        
        />
      </div>
      <div class="col-lg-6">
        <article class="mt-2">
          Sachin Ramesh Tendulkar AO BR (/ˌsʌtʃɪn tɛnˈduːlkər/ (audio speaker
          iconlisten); pronounced [sət͡ʃin t̪eːɳɖulkəɾ]; born 24 April 1973) is an
          Indian former international cricketer who captained the Indian
          national team. He is regarded as one of the greatest batsmen in the
          history of cricket.[4] Tendulkar took up cricket at the age of eleven,
          made his Test match debut on 15 November 1989 against Pakistan in
          Karachi at the age of sixteen, and went on to represent Mumbai
          domestically and India internationally for close to twenty-four years.
          In 2002, halfway through his career, Wisden ranked him the
          second-greatest Test batsman of all time, behind Don Bradman, and the
          second-greatest ODI batsman of all time, behind Viv Richards.[5] Later
          in his career, Tendulkar was part of the Indian team that won the 2011
          Cricket World Cup, his first win in six World Cup appearances for
          India.[6] He had previously been named "Player of the Tournament" at
          the 2003 edition of the tournament.
        </article>
      </div>
    </div>
  </div>

  <!-- 
<input type="text" [(ngModel)]="num1">
<input type="text" [(ngModel)]="num2">
<p>The Addition is :{{ num1*1  + num2*1 }}</p>
<br>
<input type="text" #num3>
<input type="text" #num4>
<button (click)="add(num3.value,num4.value)">Add</button>
<p>The Addition is :{{res}}</p> -->

  <!-- <button (click)="change()">click</button> -->
</div>
